body {
    font-family: 'Coiny', cursive;
    color: #1bb3f4;
    background-color: white;
}
h1 {
    text-align: center;
    color: #1bb3f4;
    font-size: 70px;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 20px solid  #1bb3f4;
    border-bottom: 20px solid #ff6602;
}

.column {
    border-color: black;
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#form {
    width: 100%;
    margin: 0 auto 100px auto;
    font-size: 18px;
    text-align: center;
}

input {
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    border: solid 3px #ff6602;
    border-radius: 20px;
    background-color: #ff6602;
}

#add {
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    border: solid 3px  #1bb3f4;
    border-radius: 20px;
    background-color:  #1bb3f4;
}

#delete {
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border: solid 3px  red;
    border-radius: 20px;
    background-color:  red;
}
.footer {
    text-align: center;
}
